:root{
    --bs-black: #18191a;
}

.card .tags a{
    margin-right: 0.4rem;
}

.card .text-body{
    white-space: pre-line;
} 

.notes-container{
    margin-top: 80px;
}

.navbar{
    padding: .5rem 1rem;
}

p {
    margin-bottom: 8px;
}

.navbar-nav *, .navbar-nav{
    -webkit-transition-property: none!important;
    -moz-transition-property: none!important;
    -o-transition-property: none!important;
    transition-property: none!important;
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}
/****FOCUSNOTE CREATOR****/
.tiptap.ProseMirror{
    overflow: auto !important;
    height: auto;
    display: block !important;
    width: 100%;
    padding: .375rem .75rem!important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    appearance: none;
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    --bs-focus-ring-width: 0.25rem;
    --bs-focus-ring-opacity: 0.25;
    --bs-focus-ring-color: rgba(13, 110, 253, 0.25)!important;
    resize: vertical;
    min-height: 110px !important;
}

.tiptap.ProseMirror:focus{
    color:var(--bs-body-color);
    background-color:var(--bs-body-bg);
    border-color:#86b7fe;
    outline:0;
    box-shadow:0 0 0 .25rem rgba(13,110,253,.25)
}

.tiptap.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #595c60;
  pointer-events: none;
  height: 0;
}

/****SUB MENU****/
.optionMenu ul{
    text-decoration:none;
    list-style: none;
    padding: 5px 0;
    position: absolute;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 3px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
    z-index: 10;
    margin-top: 3px;
    margin-left: -20px;
}

.optionMenu ul::after{
    content: '';
    position: absolute !important;
    width: 0 !important;
    height: 0 !important;
    bottom: 100% !important;
    left: 38% !important;
    border: 8px solid transparent !important;

    border-top: none !important;
    border-bottom-color: white !important;
    filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .3)) !important;
}

.optionMenu ul li {
    overflow: hidden;
    white-space: nowrap;
    color: #1d2129;
    padding-top: 0px;
    padding-right: 12px;
    padding-bottom: 0px;
    padding-left: 12px;
    border: solid #fff;
    border-width: 1px 0;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    line-height: 22px;
    cursor: pointer;
}

.optionMenu ul li:hover{
    color:white;
    background-color: #007bff;
}

.optionMenu .button {
    color: #6c757d!important;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 3px;
    padding-top: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    border-radius: 50%;
}

.optionMenu .button:before{
    font-family: bootstrap-icons;
    content: '\F5D4';
    font-size: medium!important;
}

.optionMenu .button:hover{
    color: black!important;
}

/****INPUT COLOR****/
input[type='radio'][value='light'] + .checkmark, input[type='radio'][value='blue'] + .checkmark, input[type='radio'][value='green'] + .checkmark, input[type='radio'][value='yellow'] + .checkmark, input[type='radio'][value='red'] + .checkmark, input[type='radio'][value='purple'] + .checkmark, input[type='radio'][value='pink'] + .checkmark, input[type='radio'][value='orange'] + .checkmark {
  display: block;
  position: relative;
  padding: 17px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 10px;
}

input[type='radio'][value='light'], input[type='radio'][value='blue'], input[type='radio'][value='green'], input[type='radio'][value='yellow'], input[type='radio'][value='red'], input[type='radio'][value='purple'], input[type='radio'][value='pink'], input[type='radio'][value='orange']{
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

input[type='radio'][value='light']:checked + .checkmark:after , input[type='radio'][value='blue']:checked + .checkmark:after , input[type='radio'][value='green']:checked + .checkmark:after , input[type='radio'][value='yellow']:checked + .checkmark:after , input[type='radio'][value='red']:checked + .checkmark:after , input[type='radio'][value='purple']:checked + .checkmark:after , input[type='radio'][value='pink']:checked + .checkmark:after , input[type='radio'][value='orange']:checked + .checkmark:after {
  display: block;
}
input[type='radio'][value='light'] + .checkmark:after ,input[type='radio'][value='blue'] + .checkmark:after, input[type='radio'][value='green'] + .checkmark:after, input[type='radio'][value='yellow'] + .checkmark:after, input[type='radio'][value='red'] + .checkmark:after, input[type='radio'][value='purple'] + .checkmark:after, input[type='radio'][value='pink'] + .checkmark:after, input[type='radio'][value='orange'] + .checkmark:after{
    top: 14px;
    left: 13px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

input[type='radio'][value='light'] + .checkmark:after{
    background:black;
}

input[type='radio'][value='blue']:checked + .checkmark, input[type='radio'][value='green']:checked + .checkmark, input[type='radio'][value='yellow']:checked + .checkmark, input[type='radio'][value='red']:checked + .checkmark, input[type='radio'][value='purple']:checked + .checkmark, input[type='radio'][value='pink']:checked + .checkmark, input[type='radio'][value='orange']:checked + .checkmark{
  background-color: #eee; 
}

input[type='radio'][value='light']:checked + .checkmark, input[type='radio'][value='light'] + .checkmark{
    background-color: var(--bs-light);
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

input[type='radio'][value='blue']:checked + .checkmark, input[type='radio'][value='blue'] + .checkmark{
    background-color: var(--bs-blue);
}

input[type='radio'][value='green']:checked + .checkmark, input[type='radio'][value='green'] + .checkmark{
    background-color: var(--bs-green);
}

input[type='radio'][value='yellow']:checked + .checkmark, input[type='radio'][value='yellow'] + .checkmark{
    background-color: var(--bs-yellow);
}

input[type='radio'][value='red']:checked + .checkmark, input[type='radio'][value='red'] + .checkmark{
    background-color: var(--bs-red);
}

input[type='radio'][value='purple']:checked + .checkmark, input[type='radio'][value='purple'] + .checkmark{
    background-color: var(--bs-purple);
}

input[type='radio'][value='pink']:checked + .checkmark, input[type='radio'][value='pink'] + .checkmark{
    background-color: var(--bs-pink);
}

input[type='radio'][value='orange']:checked + .checkmark, input[type='radio'][value='orange'] + .checkmark{
    background-color: var(--bs-orange);
} 


/****TAG PILL****/
#tag-pills{
	position: relative;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-items: center;
    align-content: space-around;
    width: 100%;
    height: 100%;
    vertical-align: top;
    margin: 0;
    margin-bottom: 8px;
    padding: 0;
}

#tag-pills li{
	background-color: #007bff!important;
    color: #fff!important;
    display: flex!important;
    align-items: center!important;
    border-radius: 16px!important;
    height: 32px!important;
    margin: 4px!important;
    overflow: hidden!important;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
}

#tag-pills li:hover{
	background-color: #1967d2!important;
}

#tag-pills li span{
	margin-top: 0px!important;
    margin-right: 12px!important;
    margin-bottom: 0px!important;
    margin-left: 12px!important;
    white-space: nowrap!important;
    overflow: hidden!important;
    text-overflow: ellipsis!important;
    display: block!important;
    cursor: context-menu;
    font-weight: bold;
}

#tag-pills li a{
	border: 0;
    cursor: pointer;
    outline: none;
	display: flex;
    background-size: 19px 19px;
    border: 0;
    cursor: pointer;
    width: 19px;
    height: 19px;
    margin-left: -8px;
    margin-right: 4px;
    margin-top: -6px;
    min-width: 19px;
    font-size: 18px;
}

/****BORDER LEFT COLORS****/


.bl-light, .card-light, .bl-blue, .card-blue, .bl-green, .card-green, .bl-yellow, .card-yellow, .bl-red, .card-red, .bl-purple, .card-purple, .bl-pink, .card-pink, .bl-orange, .card-orange{
    border-left-width: 4px!important;
}

.bl-light, .card-light{
    border-left-color: var(--bs-light)!important;
}

.bl-blue, .card-blue{
    border-left-color: var(--bs-blue)!important;
}

.bl-green, .card-green{
    border-left-color: var(--bs-green)!important;
}

.bl-yellow, .card-yellow{
    border-left-color: var(--bs-yellow)!important;
}

.bl-red, .card-red{
    border-left-color: var(--bs-red)!important;
}

.bl-purple, .card-purple{
    border-left-color: var(--bs-purple)!important;
}

.bl-pink, .card-pink{
    border-left-color: var(--bs-pink)!important;
}

.bl-orange, .card-orange{
    border-left-color: var(--bs-orange)!important;
}

/****BADGE COLORS****/
.card-light .badge{
    color:#fff;
    background-color: var(--bs-light);
}
.card-blue .badge{
    color:#fff;
    background-color: var(--bs-blue);
}
.card-green .badge{
    color:#fff;
    background-color: var(--bs-green);
}
.card-yellow .badge{
    color:#fff;
    background-color: var(--bs-yellow);
}
.card-red .badge{
    color:#fff;
    background-color: var(--bs-red);
}
.card-purple .badge{
    color:#fff;
    background-color: var(--bs-purple);
}
.card-pink .badge{
    color:#fff;
    background-color: var(--bs-pink);
}
.card-orange .badge{
    color:#fff;
    background-color: var(--bs-orange);
}

/***TAG CARD COLOR***/
.card-light .tags a{
    color: var(--bs-dark);
}
.card-blue .tags a{
    color: var(--bs-blue);
}
.card-green .tags a{
    color: var(--bs-green);
}
.card-yellow .tags a{
    color: var(--bs-yellow);
}
.card-red .tags a{
    color: var(--bs-red);
}
.card-purple .tags a{
    color: var(--bs-purple);
}
.card-pink .tags a{
    color: var(--bs-pink);
}
.card-orange .tags a{
    color: var(--bs-orange);
}


/****SWITCH****/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 4px;
    margin-bottom: 0!important;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #17a2b8;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
    padding-left: 5px;
    padding-top: 2px;
    font-family: bootstrap-icons;
    position: absolute;
    content: '\F1D1';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    color:var(--bs-yellow);
}

input:checked + .slider {
  background-color: #092858;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    color: var(--bs-dark);
    padding-top: 0;
    content:'\F494';
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media(max-width: 992px){
    .mobileButtonMenu{
        position: fixed;
        bottom: 4rem;
        right: 1.5rem;
        z-index: 100;
        padding-top:12px!important;
        padding-bottom: 12px!important;
        border-radius: 100%!important;
        box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    }

    .mobileMenu{
        position: fixed; 
        top: 0;
        bottom: 0;
        right: 0;
        margin:auto;
        transform: translate(100%);
        transition: all ease 0.25s;
    }
    .mobileMenu.open{
        transform: translate(0);
    }

    .overlay{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background-color: rgba(0,0,0,0.5);
        display: none;
        z-index: 100;
    }
    .overlay.open{
        display: block;
    }

    .navbar-nav{
        overflow-y: auto;
    }

    .btn-search{
        padding-left: 0px;
    }

    .navbar-brand{
        text-rendering: unset;
    }
}

/****DARK MODE****/
body.dark {
    background-color: var(--bs-black)!important;
}

body.dark .badge, body.dark .btn, body.dark .text-body, body.dark .card, body.dark .form-control, body.dark .tiptap.ProseMirror, body.dark .modal-content,body.dark .optionMenu ul li, body.dark .card-light a{
    color: var(--bs-light)!important;
}

body.dark .card, body.dark .modal-content,body.dark .optionMenu ul{
    background-color: #242526!important;
}

body.dark .badge, body.dark .btn,body.dark .form-control, body.dark .tiptap.ProseMirror{
    border-color: #393a3b;
}

/*body.dark .card .card-footer{
    background-color: #3a3b3c;
}*/

body.dark .card, body.dark .card .card-footer, body.dark .modal-content,body.dark .body.dark .modal-header, body.dark .modal-header, body.dark .optionMenu ul{
    border-color: #3e4042;
}

body.dark .optionMenu ul li{
    border-color: #242526;
}

body.dark small, body.dark .optionMenu .button{
    color: #b0b3b8!important;
}

body.dark .navbar-light a,body.dark .navbar-light,body.dark .bg-light{
    background-color: #242526!important;
}

body.dark .navbar-light a,body.dark .navbar-light, body.dark .mobileButtonMenu span{
    color: #a8abaf!important;
}

body.dark .bl-light, body.dark .card-light{
    border-left-color: #393a3b!important;
}

body.dark input[type='radio'][value='light'] + .checkmark:after{
    background:white;
}

body.dark input[type='radio'][value='light']:checked + .checkmark, input[type='radio'][value='light'] + .checkmark{
    background-color: #393a3b;
    border-color: white;
}

body.dark .form-control,body.dark .optionMenu ul li:hover, body.dark .tiptap.ProseMirror{
    background-color: #3a3b3c;
}

body.dark .form-control::placeholder, body.dark .tiptap.ProseMirror::placeholder, body.dark .tiptap.ProseMirror p.is-editor-empty:first-child::before{
    color: #b0b3b8;
}

body.dark .navbar.shadow-sm {
    box-shadow: 0 0 0 rgba(0,0,0,0)!important;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #393a3b;
}

body.dark .optionMenu .button:hover{
    color: white!important;
}

body.dark .optionMenu ul::after{
    border-bottom-color: #242526 !important;
    filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(62, 64, 66, .3)) !important;
}

body.dark .alert-danger {
    color: var(--darkreader-text-721c24, #e1868f);
    background-color: var(--darkreader-background-f8d7da, #430c11);
    border-top-color: var(--darkreader-border-f5c6cb, #68121b);
    border-right-color: var(--darkreader-border-f5c6cb, #68121b);
    border-bottom-color: var(--darkreader-border-f5c6cb, #68121b);
    border-left-color: var(--darkreader-border-f5c6cb, #68121b);
}

body.dark .alert-info {
  color: var(--darkreader-text-0c5460, #8ee3f1);
  background-color: var(--darkreader-background-d1ecf1, #143b43);
  border-top-color: var(--darkreader-border-bee5eb, #1e5961);
  border-right-color: var(--darkreader-border-bee5eb, #1e5961);
  border-bottom-color: var(--darkreader-border-bee5eb, #1e5961);
  border-left-color: var(--darkreader-border-bee5eb, #1e5961);
}
