body {
    --text-color: #212529;
    --border-color:#dee2e6;
    --background-input-color:#fff;
    --background-form-color:white;
    --background-editor-color:#e9ecef;
    --placeholder-color: #b0b3b8;
    --background-hover:#f8f9fa;
    --close-button: #7f7f7f;
    --save-button-bg: #f8f9fa;

}
body.dark {
    --text-color: #e0e0e0;
    --border-color:#393a3b;
    --background-input-color:#3a3b3b;
    --background-form-color: #242526;
    --background-editor-color:#2e2f30;
    --placeholder-color: #b0b3b8;
    --background-hover:#2e2f30;
    --close-button: white;
    --save-button-bg: #2e2f30;
}
