@use './colors' as *;

:root {
    --bs-black: #18191a !important;
}

.notes-container {
    padding-top: 1.5rem;
    max-width: 800px;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

// Scrollbar personalizada
$scrollbar-width: 8px;
$scrollbar-thumb-color: #4a5568; // Gris azulado más neutro
$scrollbar-thumb-hover-color: #374151; // Gris más oscuro
$scrollbar-thumb-active-color: #2d3748; // Gris más oscuro aún
$scrollbar-track-color: rgba(0, 0, 0, 0.05);

// Scrollbar para Windows y Linux
::-webkit-scrollbar {
    width: $scrollbar-width;
    height: $scrollbar-width;
}

::-webkit-scrollbar-track {
    background: $scrollbar-track-color;
    border-radius: 12px;
}

::-webkit-scrollbar-thumb {
    background: $scrollbar-thumb-color;
    border-radius: 12px;
    transition: all 0.2s ease;
    border: hidden !important;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-thumb:hover {
    background: $scrollbar-thumb-hover-color;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb:active {
    background: $scrollbar-thumb-active-color;
    transform: translateY(-2px);
}

// Scrollbar para macOS
::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: $scrollbar-width;
}

::-webkit-scrollbar:horizontal {
    height: $scrollbar-width;
}

::-webkit-scrollbar-thumb {
    background-color: $scrollbar-thumb-color;
    border-radius: 12px;
    border: 1px solid var(--bs-border-color);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-track {
    background: $scrollbar-track-color;
    border-radius: 12px;
}

input::placeholder, textarea::placeholder {
    color: var(--placeholder-color)!important;
}

body {
    overflow: hidden;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 100vh;
}

.main-content {
    &.with-search {
        //margin-left: 300px;
        width: calc(100% - 300px);
        transition: all 0.3s ease;
    }
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}


.text-body,
.card,
.form-control,
.tiptap.ProseMirror,
.modal-content,
.card-light a{
    color: var(--text-color) !important;
}

hr,
.badge,
.btn,
.form-control,
.tiptap.ProseMirror,
.modal-footer,
.card,
.card .card-footer,
.modal-content,
.modal-header,
.border,
.modal-header {
    border-color: var(--border-color)!important;
}

.form-control {
    background-color: var(--background-input-color) !important;
}

.card,
.modal-content {
    background-color: var(--background-form-color)!important;
}

.btn-close,
.btn-close::before,
.btn-close-white{
    color: var(--close-button)!important;
}

body.dark .btn-close[aria-label="Close"] {
    filter: invert(1)!important;
}

.btn-primary{
    color: white!important;
}

.Toastify__toast {
    background-color: var(--background-form-color) !important;
    color: var(--text-color)!important;
    border-color: var(--border-color)!important;
}
.Toastify__close-button{
    color: var(--close-button)!important;
}

/****DARK MODE****/
body.dark {
    background-color: var(--bs-black)!important;
    --bs-card-border-color: #393a3b!important;

    $scrollbar-track-color: rgba(255, 255, 255, 0.1);
    $scrollbar-thumb-color: #a0aec0; // Gris claro
    $scrollbar-thumb-hover-color: #718096; // Gris medio
    $scrollbar-thumb-active-color: #4a5568; // Gris oscuro



    .alert-danger {
        color: var(--darkreader-text-721c24, #e1868f);
        background-color: var(--darkreader-background-f8d7da, #430c11);
        border-top-color: var(--darkreader-border-f5c6cb, #68121b);
        border-right-color: var(--darkreader-border-f5c6cb, #68121b);
        border-bottom-color: var(--darkreader-border-f5c6cb, #68121b);
        border-left-color: var(--darkreader-border-f5c6cb, #68121b);
    }

    .alert-info {
        color: var(--darkreader-text-0c5460, #8ee3f1);
        background-color: var(--darkreader-background-d1ecf1, #143b43);
        border-top-color: var(--darkreader-border-bee5eb, #1e5961);
        border-right-color: var(--darkreader-border-bee5eb, #1e5961);
        border-bottom-color: var(--darkreader-border-bee5eb, #1e5961);
        border-left-color: var(--darkreader-border-bee5eb, #1e5961);
    }
}
